
.content-wrapper {
    margin-left: 230px;
    padding-top: 61px;
}

.content-wrapper .content {
    min-height: 250px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px) {

    .content-wrapper {
        margin-left: 0;
    }
}